body {
    background: 
    url("../image/music_banner.jpg"),
    url("../image/music_banner1.jpg");
    background-repeat: no-repeat, repeat-y;
    background-size: 100%, 100%;
}
h1 {
    margin: 0% 5%;
  }
audio {
    margin: 2% 5%;
}
.h1-special {
    font-size: 500%;
}
.h2-music {
    margin: 0% 5%;
    color: grey;
}
