@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400i&display=swap&subset=cyrillic');
html,
body {
  margin: 0;
  background: black;
  font-family: 'Alegreya Sans', sans-serif;
  color: #606060;
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 25px 0 5px;
  text-align: center;
  background: black;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Caveat', cursive;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #f03a3a;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #f03a3a;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
.banner {
    height: calc(100vh - 120px);
    width: 100%;
    background: url("../image/banner.jpg") 50% / cover;
  }
  .split {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 7%;
  }
  
  .left-text {
    width: 500%;
    border-radius: 5px;
    color: hsl(0, 95%, 24%);
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 800%;
    text-shadow: white 0 0 15px;

  }
 